@{
    ViewData["Title"] = "Prueba Business Pro";
}
<div class="text-center">
    <h1 style="border-bottom: double; font-style: italic; font-family: 'Times New Roman', Times, serif"> @ViewData["Title"]</h1>

    <p>Prueba para la vacante de Desarrollador.</p>
    <p style="font-style: italic; font-family: 'Times New Roman', Times, serif">Sebastian Brenes Ortega.</p>
    <p style="font-family:Arial">2022.</p>
</div>

